<div class="row">
	<div class="col-md-10 offset-md-1 reviews-form">
		<h1 class="text-center form-header-style mt-5 pt-2 pb-3">
			Add Comments
		</h1>

		<div class="form-body-style px-5 pt-4">
			<%= form_with(model: [product, comment], local: true) do |f| %>
				<%= render "shared/errors", object: comment %>

				<div class="form-group row">
					<div class="col-md-2 col-form-label">
						<%= f.label :body, "New Comment" %>
					</div>
					<div class="col-md-9">
						<%= 
							f.text_area :body, 
							class: "form-control", 
							placeholder: "This product is just what I needed!",  
							row: "5",
							autofocus: "true"  
						%>
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-md-3 col-md-9">
						<%= f.submit class: "btn btn-outline-purple" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-10 offset-md-1 mt-4">
		<h2 class="comment-header">Customer comments (3)</h2>
	</div>

	<div class="col-md-10 offset-md-1 comment-block mt-4">
		<div class="comment-body mb-2 mt-3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<small><em>Created <span>15 days</span>  ago by: </em>
			John Doe
		</small>
	</div>
</div>